<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Signup
          </div>
          <div class="panel-body">
            <form ng-init="username='';password='';email=''" ng-submit="doSignup(username,password,email)">
              <label>Username</label> <input ng-model="username" class="form-control" type="text"><br>
              <label>Password</label> <input ng-model="password" class="form-control" type="password"><br>
              <label>E-mail</label> <input ng-model="email" class="form-control" type="text"><br>
              <button class="btn btn-default" type="submit">Signup</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
