<div class="main container">
  <div class="row">
    <div class="col-md-9 col-centered">
      <img class="splash-logo" src="../images/logo800_cdsse.png" width="80%" alt="CoinDrop">
    </div>
  </div>
</div>
<!--asdadasd-->
<div class="main container">
  <div class="row"> 	
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
         <tabset>
		    <tab heading="Login">
		    <div ng-include="'scripts/states/login/login.html'"></div>
		    </tab>
		    <tab heading="Signup">
		    	<div ng-include="'scripts/states/signup/signup.html'"></div>
		    </tab>
		 </tabset>
        </div> 
      </div>
    </div>
  </div>
</div>



 
