<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='navbar-header'>
    <a class='navbar-brand' href='/'>Coindrop</a>
  </div>

  <ul class='nav navbar-nav navbar-right'>
    <li>
      <a ui-sref='home'>
        <i class='homePage'></i>Home</a></li>
    <li>
      <a ui-sref='login'>
        <i class='loginPage'></i>Login</a></li>
    <li>
      <a ui-sref='signup'>
        <i class='signUp'></i>Signup</a></li>
    <li>
      <a ui-sref='user'>
        <i class='loggedin'></i>logged In</a></li>
  </ul>
</nav>
