<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='navbar-header'>
    <a class='navbar-brand' href='/'>CoinDrop</a>
  </div>

  <ul class='nav navbar-nav navbar-right'>
    <li>
      <a ui-sref='home'>
        <i class='homePage'></i>home</a></li>
    <li>
      <a ui-sref='makeWallet'>
        <i class='makeWalletPage'></i>$ move</a></li>
    <li>
      <a ui-sref='login'>
        <i class='loginPage'></i>login</a></li>
    <li>
      <a ui-sref='signup'>
        <i class='signUp'></i>signup</a></li>
    <li>
      <a ui-sref='user'>
        <i class='loggedin'></i>(--)</a></li>
  </ul>
</nav>
