<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Login
          </div>
          <form class="form" name="form" ng-submit="login()" novalidate>
            <div class="panel-body">
              <label>Username</label>
              <input ng-model="user.username" class="form-control" type="text"><br>
            
              <label>Password</label>
              <input ng-model="user.password" class="form-control" type="password"><br>

              <button class="btn btn-primary" type="submit">Login</button>
              <!-- <a href="javascript:void(0)" class="btn btn-primary btn-raised" type="submt">Login</a> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
