<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-usd"></span> Create 
</button>


<div class="table-responsive">
<table ng-table class="table">
 	<tr>
 		<th>Description</th>
 		<th>Date</th>
 		<th>Progress</th>
 	</tr>
<!--  	<div ng-init="deals=[
 	{Deal: '1', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
 	{Deal: '2', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
 	{Deal: '3', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
 	{Deal: '4', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
 	{Deal: '5', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
 	{Deal: '6', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
 	{Deal: '7', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'}]">
 	</div> -->

<!-- <tr ng-repeat="deal in data.deals" ng-click="chooseThisDeal(deal)"> -->
 	<tr ng-repeat='deal in data.deals' ng-click="chooseThisDeal(deal)">
     <!-- <td>{{ deal.id }}</td> -->
		<td>{{ deal.memo }}</td>
		<td>{{ deal.activity.create }}</td>
		<td>{{ deal.status }}</td>
	</tr>
</table>
</div>
