
<button type="button" class="btn btn-default btn-lg" ui-sref="makeLock" 
                                      style="margin:auto; display:block">
  <span class="fa fa-btc"></span> Create 
</button>

<div class="table-responsive">
<table ng-table class="table">
 	<tr>
 		<th>Buyer</th>
    <th>Seller</th>
    <th>Memo</th>
 		<th>Greeting</th>
 	</tr>
 	<tr ng-repeat='deal in data.deals' ng-click="chooseThisDeal(deal._id)">
		<td>{{ deal.buyer }}</td>
    <td>{{ deal.seller }}</td>
    <td>{{ deal.memo }}</td>
    <td>{{ deal.greeting}}</td>
	</tr>

</table>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Transaction</h4>
      </div>
      <div class="modal-body">
        <div ui-view></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




  <!-- {Transaction: '1', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
  {Transaction: '2', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
  {Transaction: '3', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
  {Transaction: '4', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
  {Transaction: '5', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
  {Transaction: '6', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'},
  {Transaction: '7', Description: 'THIS IS A DESCRIPTION', Date: '9/1/2014', Progress: 'Pending'}]" -->

<!-- <tr ng-repeat="transaction in data.transactions" ng-click="chooseThisTrans(transaction)"> -->
