<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Create A New Wallet</strong>
          </div>
          <div class="panel-body">
            <form ng-submit="makeDeal()">
              <label>Buyer</label> <input ng-model="dealNew.buyer" class="form-control" type="text"><br>
              <label>Seller</label> <input ng-model="dealNew.seller" class="form-control" type="text"><br>
              <label>Amount BTC</label> <input ng-model="dealNew.btc" class="form-control" type="text"><br>
              <label>Memo</label><textarea ng-model="dealNew.memo" class="form-control" type="text" placeholder="(description for your own records)"></textarea><br>
              <label>Greeting</label> <textarea ng-model="dealNew.greeting" class="form-control" type="text" placeholder="(description for the other party)"></textarea><br>
              <button class="btn btn-primary" type="submit">Create Empty Deal</button>
              <button class="btn btn-primary" ui-sref='user'>Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
