
<!-- <header class="header" id="banner">
<span class="headertitle">USER DASHBOARD</span>
</header>

<div class="container">
  <div class="transaction">

      <table class="table table-hover" ng-repeat="transaction in transactions">
        <tr>TESTING TESTING TESTING</tr>
      </table>
</div>


</div> -->
<div ng-init="transactions = [{transaction: 'Buying a cell phone from this person from another state', progress: 'PENDING'},
{transaction: 'Buying a book from this person from another state', progress: 'PENDING'},
{transaction: 'Buying a computer from this person from another state', progress: 'PENDING'}]">
<table ng-table class="transactions">
<tr ng-repeat="trans in transactions">
<td title="'Transaction"> {{ trans.transaction }}</td>
<td title="'Progress'"> {{ trans.progress }}</td>
</tr>
</table>

