

#banner {
  border-bottom: none;
  margin-top: -20px;
}

.header {
  position: relative;
  padding: 30px 15px;
  color: black;
  text-align: center;
}

.deals {
  border: 1px;
  border-style: solid;
  color: black;
  text-align: center;
  background-color: #D6D5D2;
}

.headertitle {
  font-size: 50px;
}
