/*.main.container {
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}*/

.col-centered{
    float: none;
    margin: 0 auto;
}

.title {
    color: rgba(255, 255, 255, 255);
    font-size: 60px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
}

.tagline {
    margin-top: 30px;
    color: rgba(255, 255, 255, .8);
    text-align: center;
}


