/*
.col-centered{
    float: none;
    margin: auto;
}

.title {
    color: #ffffff;
    font-size: 75px;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 200px;
}

.tagline {
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
}*/


.table-responsive {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px;
    background-color: #F8F8F8;
}

/*.ng-table {
    border: 1px solid #000;
}
*/